fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
openpyxl
reportlab
prophet
httpx
email-validator
python-dotenv
stripe
paypalrestsdk
slowapi
qrcode
pillow
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
